<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home - Proyecto Spring</title>
</head>
<body>

<h1>Esta es la home del proyecto</h1>

<h2 th:text="'Nombre del articulo: ' + ${articulo}"></h2>
<h2 th:text="'precio: ' + ${precio}"></h2>
<h2 th:text="'descripcion: ' + ${descripcion}"></h2>

<h2 style="color: blue;">---Detalle del Producto---</h2>
<h4 th:text="'Codigo: ' + ${producto1.id}"></h4>
<h4 th:text="'Nombre: ' + ${producto1.nombre}"></h4>
<h4 th:text="'Descripcion :' + ${producto1.descripcion}"></h4>
<h4 th:text="'Precio: ' + ${producto1.precio}"></h4>
</body>
</html>